@{
    ViewBag.Title = "Posts";
    
}


    <h1>Posts Index</h1>

    <p>
        <!-- it is easier to add other attributes to the a tag using this method vs method below -->
        <a href="@Url.RouteUrl("login")">Click here</a> to login!
    </p>
    <!--
        <p>
        @Html.RouteLink("Click here","login") to login!
    </p>
        -->

